/* .input1{
    width: 220px;
    height: 30px;
}
.btn{
    width: 220px; ;
    height: 30px;
    border-color: blue;
    color: beige;
    border: none;
    border-radius: 200px;
} */
/* .input1{
    width: 220px;
    height: 30px;
    margin: 10px 0;
}

.btn{
    width: 220px;
    height: 40px;
    border-color: blue;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin: 10px; */
    
/* } */
/* Общие стили */
 
.container{
    max-width: 1125px;
    width: 100px;
    padding: 0 15px;
}
 
.navigation{
  display: flex;
  margin-top: 22px;
}

.links{
    display: flex;
    gap: 50px;
    color: aqua;
}

.icons{
    display: flex;
    gap: 24px;
}

.links{
    color: blueviolet;
    font-size: 18px;
}
#id1{
    width: 100px;
    height: 100px;
}

#id2{
    margin: 70px;
}